<h1 translate="register.title">Registration</h1>
    <div class="alert alert-success" ng-show="status == 'success'" translate="register.messages.success">
        <strong>Registration saved!</strong> Please check your email for confirmation.
    </div>

    <div ng-show="status == 'failed' || status == 'error'" ng-switch on="error">
        <div class="alert alert-danger" ng-switch-when="userExists" translate="register.messages.error.userexists">
            <strong>Login name already registered!</strong> Please choose another one.
        </div>

        <div class="alert alert-danger" ng-switch-when="passwordsDoNotMatch" translate="global.messages.error.dontmatch">
            The password and its confirmation do not match!
        </div>

        <div class="alert alert-danger" ng-switch-when="rejected" translate="register.messages.error.rejected">
            Registration failed because you rejected access to your account.
        </div>

        <div class="alert alert-danger" ng-switch-default translate="register.messages.error.fail">
            <strong>Registration failed!</strong> Please check your input and try again.
        </div>
    </div>
</div>