<div class="form-group">
    <label translate="global.form.username">Login</label>
    <input type="text" class="form-control" name="login" placeholder="{{'global.form.username.placeholder' | translate}}"
           ng-model="$parent.registerAccount.login" ng-minlength=1 ng-maxlength=50 required>
    <div ng-show="form.login.$dirty && form.login.$invalid">
        <p class="help-block"
           ng-show="form.login.$error.required" translate="register.messages.validate.login.required">
            Your login is required.
        </p>
        <p class="help-block"
           ng-show="form.login.$error.minlength" translate="register.messages.validate.login.minlength">
            Your login is required to be at least 1 character
        </p>
        <p class="help-block"
           ng-show="form.login.$error.maxlength" translate="register.messages.validate.login.maxlength">
            Your login cannot be longer than 50 characters
        </p>
    </div>
</div>
